@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>
    You can search other players. View their statistic and more! Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
</p>
<p>You can customize your profile! Change your profile picture, name or password! Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>

<p>You can Explore some games and play them. After that if you want to check how much you learned during playing you can solve some <strong>quizzes</strong> and earn points. Do not hesitate soon we will implement new features specially for people with high points!</p>

