@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Varna, Bulgaria <br />
    <abbr title="Phone">P:</abbr>
    +35987555555
</address>

<address>
    <strong>Report bugs:</strong>   <a href="mailto:bugs@playschool.bg">bugs@playschool.bg</a><br />
    <strong>Have suggestion?:</strong> <a href="mailto:idea@playschool.bg">idea@playschool.bg</a>
</address>